html {
    background:#cce20dda;
    background-size:cover;
    font-family:'helvetica neue';
    text-align: center;
    font-size: 12px;
  }

  body {
    margin: 0;
    font-size: 2.1rem;
    display:flex;
    flex:1;
    min-height: 100vh;
    align-items: center;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border:30px solid rgba(163, 188, 116, 0.86);
    border-radius:50%;
    margin:50px auto;
    position: relative;
    padding:2rem;
    box-shadow:
      0 0 0 4px rgba(196, 31, 31, 0.1),
      inset 0px 0px 0px 5px #ef73ca,
      inset 0px 0px 0px 10px rgb(40, 83, 88),
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); 
  }

  .hour {
    width:50%;
    height:12px;
    background:rgb(177, 240, 233);
    position: absolute;
    top:50%;
    border-radius: 30%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  .min {
    width:50%;
    height:8px;
    border-radius: 40%;
    background:rgb(40, 83, 88);
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  .second {
    width:50%;
    height:6px;
    border-radius: 50%;
    background:rgb(142, 181, 183);
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }